<br>
<form>
    <div class="col-md-7 offset-md-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="recaccountno" class="form-label"><b>Receiver Account No</b></label>
                        <input type="text" name="recaccountno" placeholder="Please enter receiver's account number"
                            class="form-control" id="recaccno" aria-describedby="recHelp">
                        <div id="recHelp" class="form-text"></div>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="recaccname" class="form-label"><b>Receiver Account Name</b></label>
                        <input name="recaccname" placeholder="Please enter receiver's name" type="text"
                            class="form-control" id="recaccname">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="recbic" class="form-label"><b>Receiver BIC</b></label>
                        <input name="recbic" placeholder="Please enter receiver's BIC" type="text" class="form-control"
                            id="recbic">
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="amount" class="form-label"><b>Amount</b></label>
                        <input name="amount" placeholder="Please enter the amount" type="text" class="form-control"
                            id="amount">
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="msgcode" class="form-label"><b>Message Code</b></label>
                        <select id="msgcode" name="msgcode" class="form-select" aria-label="Default select example"
                         >
                            <option selected><b>Select the message code</b></option>
                            <option *ngFor="let option of options" [value]="option">
                                {{option}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="mb-3">
                        <label for="recbic" class="form-label"><b>Tranfer type Code</b></label>
                        <select id="transfertypecode" name="transfertypecode" class="form-select"
                            aria-label="Default select example">
                            <option selected><b>Select the transfer type code</b></option>
                            <option value="B">B-Bank to Bank Tranfer</option>
                            <option value="C">C-Customer to Customer Transfer</option>
                        </select>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <button type="button" (click)="onSubmit()" class="btn btn-primary btn-danger ">Go to
                        Dashboard</button>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-dark btn-primary">Initiate Transaction</button>
                </div>
            </div>
        </div>
    </div>
</form>