<br>
<button type="button" (click)="onSubmit()" class="btn btn-primary btn-danger btn-sm">Go to Dashboard</button>
<br>
<br>
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Transaction id</th>
        <th scope="col">Receiver name</th>
        <th scope="col">Receiver bank name</th>
        <th scope="col">Amount transferred</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Dheeraj</td>
        <td>Bank-1</td>
        <td>Rs.900</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Paul</td>
        <td>Bank-2</td>
        <td>Rs.2000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Rahul</td>
        <td>Bank-3</td>
        <td>Rs.6500</td>
      </tr>
    </tbody>
  </table>